# Ignore all node_modules
node_modules/

# Ignore env files
.env
.env.local

# Ignore infrastructure (backend/CDK)
infrastructure/

# Ignore lambda/layers code
packages/lambdas/
packages/lambda-layers/

# Keep shared-types only
# Don't ignore packages/shared-types/
!packages/shared-types/